<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>修改密码</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/static/css/admin.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/admin.js"></script> 
</head>
<body>
<form method="post" id="form1" action="{{.AdminDir}}user/savepass">
<div id="main">
<h2>修改密码</h2>
<div class="content" style="margin-top:0px;">
  <table  border="0" align="center" cellpadding="0" cellspacing="0" class="add">
    <tr>
      <td width="10%">原始密码：</td>
      <td><input type="password" name="ypass" class="input" style="width:280px"  /></td>
    </tr>
     <tr>
      <td width="10%">新的密码：</td>
      <td><input type="password" name="newpass" class="input" style="width:280px"  /></td>
    </tr> 
     <tr>
      <td width="10%">密码确认</td>
      <td><input type="password" name="epass" class="input" style="width:280px"  /></td>
    </tr>      
    <tr>
      <td></td>
      <td>
      <input type="submit" name="enter" value=" 保存密码 " id="enter" class="button bghuang" /></td>
    </tr>
  </table>
</div>
</div>
</form>
</body>
</html>