<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{{.info.Title}}|爱美剧</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="{{.info.Keywords}}" />
<meta name="Description" content="{{.info.Description}}" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link href="/static/css/vmovie.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
</head>
<body>
{{template "header" .}}
	<div class="box">
		<div class="detail">
			<div class="location">现在的位置：<a href="/">首页</a> > <a href="/m/100/">美剧下载</a> > <a href="/m/{{.info.Cid}}/">{{.info.Cid|getclassname}}</a> > 文章正文</div>
			<div class="clear"></div>
			<div class="movie">
				<h3>{{.info.Name}} ({{.info.Ename}})</h3>
				<div class="about">{{dateformat .info.Addtime "2006-01-02 15:04"}} / {{.info.Cid|getclassname}} / 责任编辑：{{.info.Editor}} / <a href="#down">立即下载</a> / <a href="#talk">给我留言</a></div>
				<div class="clear"></div>
				<div class="text">
					<p>	
					{{str2html .info.Content}}
					</p>
					{{str2html .rmlist}}
					<p><img src="{{.info.Photo}}?watermark/2/text/54ix576O5YmnIHwgMjJWLk5FVA==/font/5b6u6L2v6ZuF6buR/fontsize/360/fill/I0NDQ0NDQw==/dissolve/100/gravity/South/dy/10" alt="{{.info.Name}}海报" /></p>
					<p>语言：{{.info.Language}} 类型：<a href="/m/{{.info.Cid}}/" target="_blank">{{.info.Cid|getclassname}}</a> 
					<br />主演：{{.info.Actor}}
					<br />导演：{{.info.Director}}
					<br />编剧：{{.info.Writer}}
					<br />首播日期：{{.info.Playdate}}
					<br />英文：{{.info.Ename}}
					<br />高清中文美剧全集迅雷下载地址-本季集数：{{.info.Episode}}
					<br />在下面链接上点击或右键选择使用迅雷下载即可
					<br />在<span style="color:#ff0000;font-weight:bold;">手机上</span>可使用“<span style="color:#ff0000;font-weight:bold;">手机迅雷</span>”高速下载并观看
					</p>
					<p class="downtitle">{{.info.Name}} {{.isend}}</p>
				</div>
				<div class="clear"></div>
				<a name="down"></a>
				<div class="download">
					<ul>
						<li class="downtitle">中文字幕</li>
						{{str2html .downitem}}
					</ul>
				</div>
				<div class="clear"></div>			
				<div class="goback">
					<a href="/m/{{.info.Cid}}/">返回列表页</a>
				</div>
				<div class="clear"></div>
				<a name="talk"></a>
				<div class="talk">
				<!-- 多说评论框 start -->
					<div class="ds-thread" data-thread-key="V{{.info.Id}}" data-title="{{.info.Title}}" data-url="https://22v.net/v/{{.info.Id}}/"></div>
				<!-- 多说评论框 end -->
				<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
				<script type="text/javascript">
				var duoshuoQuery = {short_name:"22v"};
					(function() {
						var ds = document.createElement('script');
						ds.type = 'text/javascript';ds.async = true;
						ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
						ds.charset = 'UTF-8';
						(document.getElementsByTagName('head')[0] 
						 || document.getElementsByTagName('body')[0]).appendChild(ds);
					})();
					</script>
					<!-- 多说公共JS代码 end -->
				</div>
			</div>
			<div class="panel">
				<ul>
					<li class="title">{{.info.Cid|getclassname}}热门美剧</li>
					{{range .hostlist}}
					<li><a href="/v/{{.Id}}/" target="_blank"><img src="{{.Photo}}?imageView2/1/w/120/h/160/q/100" width="90" height="120" alt="{{.Title}}" /><br/>{{substr .Name 0 40}}</a><br /><span>{{GetMovieUpdateEPString .Hasepisode .Episode}}</span></li>{{end}}
				</ul>				
				<ul>
					<li class="title">随便看看</li>
					{{range .randlist}}
					<li><a href="/v/{{.Id}}/" target="_blank"><img src="{{.Photo}}?imageView2/1/w/120/h/160/q/100" width="90" height="120" alt="{{.Title}}" /><br/>{{substr .Name 0 40}}</a><br /><span>{{GetMovieUpdateEPString .Hasepisode .Episode}}</span></li>{{end}}
				</ul>		
			</div>
		</div>
	</div>
	{{template "footer"}}		
</body>
</html>