{{define "footer"}}
	<div class="clear"></div>
	<div class="box">
		<div id="footer">
			<p>© 2016 爱美剧;本站是建立于2016年的博客网站，主要用于分享英美剧。
			</p>
			<p>
				本博客一切资料均从网络搜集，如有关视频侵犯了你的权益，请联系邮箱告之，本站将于24小时内删除！
			</p>
			<p><a href="https://22v.net/json/">网站API</a> 邮箱地址：<img src="/static/img/email.png" width="173" height="16" alt="Email" /></p>
			<p>网站环境：<a href="http://www.centos.org" target="_blank">CentOS</a> / <a href="http://golang.org" target="_blank">Go</a> / <a href="http://beego.me" target="_blank">Beego</a> / Mysql / Nginx</p>
		</div>
	</div>
	<script>
	var _hmt = _hmt || [];
	(function() {
	  var hm = document.createElement("script");
	  hm.src = "//hm.baidu.com/hm.js?0b4e815ffb7f70cdcdefbcaf9b52afd0";
	  var s = document.getElementsByTagName("script")[0]; 
	  s.parentNode.insertBefore(hm, s);
	})();
	</script>
	<script>
	(function(){
	    var bp = document.createElement('script');
	    var curProtocol = window.location.protocol.split(':')[0];
	    if (curProtocol === 'https') {
	        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';        
	    }
	    else {
	        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
	    }
	    var s = document.getElementsByTagName("script")[0];
	    s.parentNode.insertBefore(bp, s);
	})();
</script>{{end}}