
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>美剧新闻_美剧动态_美剧资讯_美剧剧情分析|爱美剧</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="美剧剧情,美剧海报,美剧新闻,美剧动态,美剧情报站" />
<meta name="Description" content="此频道提供美剧新闻、资讯、动态、剧情、海报、美剧汇总等。" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link href="/static/css/vmovie.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
</head>
<body>
 {{template "header" .}}	
	<div class="box">
		<div class="pageinfo">
			<div class="location">现在的位置：<a href="/">首页</a> > <a href="/news/">美剧资讯</a> > 文章列表</div>
			<div class="clear"></div>
			<div class="newslist">
				<ul>
					<li class="title">美剧资讯</li>
					{{range .list}}
					<li><a href="/article/{{.Id}}/" target="_blank">{{.Title}}</a></li>{{end}}	
				</ul>
				<div class="clear"></div>
				<div class="pager">{{str2html .pager}}</div>			
			</div>
			<div class="panel">
				<ul>
					<li class="title">热门美剧下载</li>
					{{range .hostlist}}
					<li><a href="/v/{{.Id}}/" target="_blank"><img src="{{.Photo}}?imageView2/1/w/120/h/160/q/100" width="90" height="120" alt="{{.Title}}" /><br/>{{substr .Name 0 40}}</a><br /><span>{{GetMovieUpdateEPString .Hasepisode .Episode}}</span></li>{{end}}
				</ul>				
				<ul>
					<li class="title">随便看看</li>
					{{range .randlist}}
					<li><a href="/v/{{.Id}}/" target="_blank"><img src="{{.Photo}}?imageView2/1/w/120/h/160/q/100" width="90" height="120" alt="{{.Title}}" /><br/>{{substr .Name 0 40}}</a><br /><span>{{GetMovieUpdateEPString .Hasepisode .Episode}}</span></li>{{end}}
				</ul>					
			</div>
		</div>
	</div>
	{{template "footer"}}	
</body>
</html>